<!DOCTYPE html>
<html  ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="with=device-width, initial-scaled=1.0" >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Tech Form </title>

        <link rel='stylesheet' href='Tech_form.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

         <script src="app.js"></script>

    </head>
        <body>
            <div class='content'>
                <h1>Tech Form</h1>

 <div ng-controller="MyCtrl">
   <button ng-click="openUrl()">
  Certificacion Instalacion Electrica Comercial
   </button>
            </div>
            <div ng-controller="MyCtrl1">
              <button ng-click="openUrl1()">
             Certificacion Instalacion Electrica Residencial
              </button>
                       </div>
              <script src='Tech_form.js'></script>
        </body>

        <div ng-controller="MyCtrl2">
          <button ng-click="openUrl2()">
         Encrypt into blockchain
          </button>
                   </div>

                   <div ng-controller="MyCtrl3">
                     <button ng-click="openUrl3()">
                    User friendly mode
                     </button>
                              </div>


</html>
